<div class="reminder-detail__container">
    <div class="reminder-detail__actions">
        <span class="reminder-detail__action material-icons">edit</span>
        <span class="reminder-detail__action material-icons">delete</span>
        <span class="reminder-detail__action material-icons">clear</span>
    </div>
    <div class="reminder-detail__content">
        <div class="reminder-detail__property">
            <span>Texto</span>
        </div>
        <div class="reminder-detail__property">
            <span>color</span>
        </div>
        <div class="reminder-detail__property">
            <span>ciudad</span>
        </div>
    </div>
</div>
